<div class="span3 well">
    <legend>New to WebApp? Sign up!</legend>
    <form accept-charset="UTF-8" action="" method="post">
        <input class="span3" name="email" placeholder="email" type="email">
        <input class="span3" name="username" placeholder="Username" type="text">
        <input class="span3" name="pass" placeholder="Password" type="password">
        <button class="btn btn-warning" type="submit">Sign up for WebApp</button>
    </form>

</div>